$fa-font-path: "../fonts/font-awesome";
@import "../../node_modules/font-awesome/scss/font-awesome";

// Variables

$color-primary: #CD4916;

$text-font: 'Open Sans', sans-serif;
$text-font-size: 17px;
$text-font-color: #4D4D4D;
$text-font-color-muted: #999999;

$code-font: 'Roboto Mono', monospace;
$code-font-size: 15px;

// Global

body {
  color: $text-font-color;
  font-family: $text-font;
  font-size: $text-font-size;
}

p {
  line-height: 1.7em;
  margin: 0 0 20px;
}

hr {
  border: none;
  border-bottom: 1px solid #f0f0f2;
  margin: 45px 0;
}

a {
  color: $text-font-color;
  text-decoration: none;
  border-bottom: 2px solid #e1e1e1;

  &:hover {
    border-bottom: 2px solid $color-primary;
  }
}

ol, ul {
  margin: 0 0 30px;
  padding-left: 50px;

  ol, ul { margin: 0; }
  li { line-height: 1.8; }
}

blockquote {
  border-left: 2px solid $color-primary;
  margin: 20px 0;
  padding: 5px 30px;

  p {
    color: $text-font-color-muted;
    margin: 0;
  }
}

img {
  width: 100%;
}

// Source code

pre {
  margin: 0 0 30px;
}

code {
  font-family: $code-font;
  font-size: 1em;
}

p > code {
  font-weight: bold;
}

.hljs {
  font-size: $code-font-size;
}


// Blog header

.blog-header {
  margin: 40px 0 80px 0;
  text-align: center;

  > a {
    border: none;
  }

  .blog-logo {
    border-radius: 10px;
    width: 100px;
  }

  .blog-description {
    font-weight: 300;
  }

  .blog-title {
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
  }

  .nav {
    margin-top: 60px;
  }
}

// Tables

table {
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 30px;
  width: 100%;

  thead {
    tr th {
      border-bottom: 1px solid #dbdbdb;
      padding: 0.5em 0.75em;
      text-align: left;
    }
  }

  tbody {
    tr td {
      border: 1px solid #dbdbdb;
      border-width: 0 0 1px;
      padding: 0.5em 0.75em;
      text-align: left;
      vertical-align: top;
    }

    tr:last-child td {
      border-bottom-width: 0;
    }

    tr:nth-child(2n-1) {
      background-color: #fafafa;
    }
  }
}

// Layout

.container {
  margin: 0 auto;
  width: 600px;
}

.hidden {
  display: none;
}

// Post

.post {
  .post-header {
    img {
      margin: 0 0 40px 0;
      width: 100%;
    }

    .post-title {
      font-weight: 800;
      font-size: 2em;
      margin: 0 0 20px;

      a {
        border: none;
        transition: 0.2s;

        &:hover {
          color: $color-primary;
        }
      }
    }

    .post-date {
      color: #e1e1e1;
      font-size: 0.8em;
      font-weight: 700;
      line-height: 1em;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .post-content {
    h1 {
      font-size: 1.2em;
      font-weight: 700;
      margin: 20px 0;
    }

    h2 {
      font-size: 1.1em;
      font-weight: 700;
      margin: 20px 0;
    }

    .citation {
      color: $text-font-color-muted;
      font-size: 0.8em;
      margin-bottom: 5px;

      a {
        color: $text-font-color-muted;
        font-weight: bold;
      }
    }
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 45px 0;
  }
}

// Post tags

.post-tags {
  color: $text-font-color-muted;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  vertical-align: bottom;

  span { font-weight: 600; }
}

// Pagination

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

// Button

.button {
  font-size: 0.8em;
  border-radius: 30px;
  border: 1px solid #e1e1e1 !important;
  color: $text-font-color-muted;
  padding: 8px 18px 8px 18px;
  text-align: center;

  &:hover {
    color: whitesmoke;
    border: 1px solid $color-primary !important;
    background-color: $color-primary;
  }
}

.invisible {
  visibility: hidden;
}

// navbar

.navbar {
  margin-bottom: 40px;
  padding: 20px 0;
  width: 100%;
    .logo-small {
      border-radius: 3px;
      width: 24px;
    }

  .logo {
    display: flex;


    .blog-title {
      margin-left: 5px;
    }
  }

  a {
    border: none;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 1.15;
        margin-left: 10px;
        text-transform: lowercase;
      }
    }
  }

  .blog-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;

    a {
      color: $color-primary;
    }
  }
}

// Media queries

@media only screen and (max-width: 1089px) {
  .margin-target {
  }

  .margin-note {
    border-top: 1px solid $text-font-color-muted;
    border-bottom: 1px solid $text-font-color-muted;
    border-radius: 3px;
    color: lighten( $text-font-color, 10% );
    padding: 1em 1.25em;
    font-size: 0.9em;
    margin: 0 0 30px;
    text-align: center;

    p { margin: 0; }
  }
}

@media only screen and (min-width: 1090px) {
  .margin-target {
    position: relative;
  }

  .margin-note {
    color: darken( $text-font-color-muted, 10% );
    border-left: 1px solid $text-font-color-muted;
    margin-left: 20px;
    padding: 0 10px;
    font-size: 0.7em;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;

    p { margin: 0; }

    a {
      color: darken( $text-font-color-muted, 10% );

      &:hover {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
      width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .container {
      width: 300px;
  }

  .post {
    .post-header {
      .post-title {
        font-size: 1.6em;
        margin: 0 0 20px;
      }
    }

    .post-content {
      h1 { font-size: 1.4em; }
      h2 { font-size: 1.1em; }
    }
  }
}
